causal-learn              0.1.3.8                        
causaldag                 0.1a163                        
causalgraphicalmodels     0.0.4                          
causalml                  0.15.1                         
cvxopt                    1.3.2                          
cvxpy                     1.4.1                          
h5py                      3.10.0                         
numpy                     1.25.2                         
pandas                    2.2.2              
scikit-learn              1.5.1             
scipy                     1.12.0           
seaborn                   0.13.2           
torch                     2.2.1                          
torchaudio                2.2.1                          
torchdata                 0.7.1                          
torchmetrics              1.2.0                          
torchtext                 0.17.1                         
torchvision               0.17.1                         
tornado                   6.3.3                          
tqdm                      4.67.1                         
